<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Informacje o Produkcie</h1>
    <div style="padding: 20px; border: solid medium black; font-size: 20pt">
        @RenderBody()
    </div>
    <h2>Odwiedź moją witrynę: <a href="http://kacperpilkowski.com/">Kacper Piłkowski</a></h2>

</body>
</html>
